body{
    font-family:'Special Elite',cursive;
    background:wheat;
    }
    .header_div{
        background:mistyrose;
        color: blue;
    } 
    .header_div p{
        font-family: 'Roboto',sans-serif;
        color: royalblue;
        letter-spacing: 2px;
        font-size: 12px;
        font-weight: bold;
    }

    .main_div button{
        font-family: 'Inkfree',sans-serif;
        margin-top: 30px;
        width: 130px;
        font-weight: bolder;
        letter-spacing: 3px;

    }
    .copyright_footer{
        position: fixed;
        color: silver;
        bottom: 0;
        width: 100%;
font-size: 18px;
background-color: snow;
line-height: 3;
text-align: center;
text-shadow:5px,5px,5px thistle;
}

